@font-face {
   font-family: 'Minecraftchmc-dBlX';
   font-display: swap;
   src: url('file:///C:/Users/MSI/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-07-05_215603/fonts/Minecraftchmc-dBlX/font.ttf');
}
