@font-face {
   font-family: 'MinecraftTen-VGORe';
   font-display: swap;
   src: url('MinecraftTen-VGORe/font.ttf');
}
@font-face {
   font-family: 'Minecraftchmc-dBlX';
   font-display: swap;
   src: url('Minecraftchmc-dBlX/font.ttf');
}
