@font-face {
   font-family: 'MinecraftTen-VGORe';
   font-display: swap;
   src: url('file:///C:/Users/MSI/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-07-05_215603/fonts/MinecraftTen-VGORe/font.ttf');
}
